In [1]:
import psycopg2 as postgre

In [2]:
HOST = '127.0.0.1'
PORT = '5432'
DATABASE = 'dvdrental'
USER = 'postgres'
PASSWORD = '0328'
QUERY = "SELECT * FROM address"
# 세팅을 위한 지정

In [3]:
class DBConnector:
    def __init__(self, host, port, db, user, passwd):
        # self.dialect = dbms.lower()
        self.host = host
        self.port = port
        self.db = db
        self.user = user
        self.passwd = passwd
        self.conn = None

    def connect(self):
            self.conn = postgre.connect(
                host = self.host,
                port = self.port,
                db = self.db,
                user = self.user,
                passwd = self.passwd
            )

    def close(self):
        self.conn.close()

# 1차적으로 클래스를 이용하여 변수를 짜줌

In [4]:
db = DBConnector(host=HOST, port=PORT, db=DATABASE, user=USER, passwd=PASSWORD)
print(db.host, db.port, db.db, db.user, db.passwd, db.conn, '\n')
# db.DBConnector.connect()
db.connect()
# print("\n")
print(db.host, db.port, db.db, db.user, db.passwd, db.conn)
# 타자 잘못쳐서 난 오류

127.0.0.1 5432 dvdrental postgres 0328 None

ProgrammingError: invalid dsn: invalid connection option "db"

In [57]:
class DBConnector2:
    def __init__(self, host, port, user, password, database):
        self.conn_params = dict(
            host=host,
            port=port,
            user=user,
            password=password,
            database=database
        )
        self.conn = None

    def _postgre_connect(self):
        self.conn = postgre.connect(**self.conn_params)

    def close(self):
        self.conn.close()
# 3차적으로 고친 클래스이나 오류가 나서 일단 보류

In [58]:
db2 = DBConnector2(host=HOST, port=PORT, user=USER, password=PASSWORD, database=DATABASE)
db2._postgre_connect()
type(db2._postgre_connect())
# NoneType으로 뜨는 것을 봤을 때 오류가 난 것을 알 수 있음

NoneType

In [23]:
db2 = DBConnector2(host=HOST, port=PORT, user=USER, password=PASSWORD, database=DATABASE)
db2._postgre_connect()
# print("\n")

In [19]:
type(db2._postgre_connect())

NoneType

In [24]:
conn2 = postgre.connect(host=HOST, port=PORT, database=DATABASE, user=USER, password=PASSWORD)

In [25]:
conn2

In [26]:
type(conn2)

psycopg2.extensions.connection

In [27]:
type(conn)

psycopg2.extensions.connection

In [44]:
db2 = DBConnector2(host=HOST, port=PORT, user=USER, password=PASSWORD, database=DATABASE)
cur = db2._postgre_connect().cursor()
cur.execute(QUERY)

result_all = cur.fetchall()

result_all

None

AttributeError: 'NoneType' object has no attribute 'cursor'

In [35]:
import psycopg2 as postgre

conn = postgre.connect(host=HOST, port=PORT, database=DATABASE, user=USER, password=PASSWORD)
cur = conn.cursor()
cur.execute(QUERY)
result_all = cur.fetchall()

result_all
# 수작업으로 했을 때의 잘 나오는 출력

[(1,
  '47 MySakila Drive',
  None,
  'Alberta',
  300,
  '',
  '',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (2,
  '28 MySQL Boulevard',
  None,
  'QLD',
  576,
  '',
  '',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (3,
  '23 Workhaven Lane',
  None,
  'Alberta',
  300,
  '',
  '14033335568',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (4,
  '1411 Lillydale Drive',
  None,
  'QLD',
  576,
  '',
  '6172235589',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (5,
  '1913 Hanoi Way',
  '',
  'Nagasaki',
  463,
  '35200',
  '28303384290',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (6,
  '1121 Loja Avenue',
  '',
  'California',
  449,
  '17886',
  '838635286649',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (7,
  '692 Joliet Street',
  '',
  'Attika',
  38,
  '83579',
  '448477190408',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (8,
  '1566 Inegl Manor',
  '',
  'Mandalay',
  349,
  '53561',
  '705814003527',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (9,
  '53 Idfu Parkway',
  '',
  'Nantou',
  361,
  '42399',
  '10655648674',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (10,
  '1795 Santiago de Compostela Way',
  '',
  'Texas',
  295,
  '18743',
  '860452626434',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (11,
  '900 Santiago de Compostela Parkway',
  '',
  'Central Serbia',
  280,
  '93896',
  '716571220373',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (12,
  '478 Joliet Way',
  '',
  'Hamilton',
  200,
  '77948',
  '657282285970',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (13,
  '613 Korolev Drive',
  '',
  'Masqat',
  329,
  '45844',
  '380657522649',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (14,
  '1531 Sal Drive',
  '',
  'Esfahan',
  162,
  '53628',
  '648856936185',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (15,
  '1542 Tarlac Parkway',
  '',
  'Kanagawa',
  440,
  '1027',
  '635297277345',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (16,
  '808 Bhopal Manor',
  '',
  'Haryana',
  582,
  '10672',
  '465887807014',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (17,
  '270 Amroha Parkway',
  '',
  'Osmaniye',
  384,
  '29610',
  '695479687538',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (18,
  '770 Bydgoszcz Avenue',
  '',
  'California',
  120,
  '16266',
  '517338314235',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (19,
  '419 Iligan Lane',
  '',
  'Madhya Pradesh',
  76,
  '72878',
  '990911107354',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (20,
  '360 Toulouse Parkway',
  '',
  'England',
  495,
  '54308',
  '949312333307',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (21,
  '270 Toulon Boulevard',
  '',
  'Kalmykia',
  156,
  '81766',
  '407752414682',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (22,
  '320 Brest Avenue',
  '',
  'Kaduna',
  252,
  '43331',
  '747791594069',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (23,
  '1417 Lancaster Avenue',
  '',
  'Northern Cape',
  267,
  '72192',
  '272572357893',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (24,
  '1688 Okara Way',
  '',
  'Nothwest Border Prov',
  327,
  '21954',
  '144453869132',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (25,
  '262 A Corua (La Corua) Parkway',
  '',
  'Dhaka',
  525,
  '34418',
  '892775750063',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (26,
  '28 Charlotte Amalie Street',
  '',
  'Rabat-Sal-Zammour-Z',
  443,
  '37551',
  '161968374323',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (27,
  '1780 Hino Boulevard',
  '',
  'Liepaja',
  303,
  '7716',
  '902731229323',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (28,
  '96 Tafuna Way',
  '',
  'Crdoba',
  128,
  '99865',
  '934730187245',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (29,
  '934 San Felipe de Puerto Plata Street',
  '',
  'Sind',
  472,
  '99780',
  '196495945706',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (30,
  '18 Duisburg Boulevard',
  '',
  '',
  121,
  '58327',
  '998009777982',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (31,
  '217 Botshabelo Place',
  '',
  'Southern Mindanao',
  138,
  '49521',
  '665356572025',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (32,
  '1425 Shikarpur Manor',
  '',
  'Bihar',
  346,
  '65599',
  '678220867005',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (33,
  '786 Aurora Avenue',
  '',
  'Yamaguchi',
  474,
  '65750',
  '18461860151',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (34,
  '1668 Anpolis Street',
  '',
  'Taipei',
  316,
  '50199',
  '525255540978',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (35,
  '33 Gorontalo Way',
  '',
  'West Bengali',
  257,
  '30348',
  '745994947458',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (36,
  '176 Mandaluyong Place',
  '',
  'Uttar Pradesh',
  239,
  '65213',
  '627705991774',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (37,
  '127 Purnea (Purnia) Manor',
  '',
  'Piemonte',
  17,
  '79388',
  '911872220378',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (38,
  '61 Tama Street',
  '',
  'Okayama',
  284,
  '94065',
  '708403338270',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (39,
  '391 Callao Drive',
  '',
  'Midi-Pyrnes',
  544,
  '34021',
  '440512153169',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (40,
  '334 Munger (Monghyr) Lane',
  '',
  'Markazi',
  31,
  '38145',
  '481183273622',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (41,
  '1440 Fukuyama Loop',
  '',
  'Henan',
  362,
  '47929',
  '912257250465',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (42,
  '269 Cam Ranh Parkway',
  '',
  'Chisinau',
  115,
  '34689',
  '489783829737',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (43,
  '306 Antofagasta Place',
  '',
  'Esprito Santo',
  569,
  '3989',
  '378318851631',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (44,
  '671 Graz Street',
  '',
  'Oriental',
  353,
  '94399',
  '680768868518',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (45,
  '42 Brindisi Place',
  '',
  'Yerevan',
  586,
  '16744',
  '42384721397',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (46,
  '1632 Bislig Avenue',
  '',
  'Nonthaburi',
  394,
  '61117',
  '471675840679',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (47,
  '1447 Imus Way',
  '',
  'Tahiti',
  167,
  '48942',
  '539758313890',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (48,
  '1998 Halifax Drive',
  '',
  'Lipetsk',
  308,
  '76022',
  '177727722820',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (49,
  '1718 Valencia Street',
  '',
  'Antofagasta',
  27,
  '37359',
  '675292816413',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (50,
  '46 Pjatigorsk Lane',
  '',
  'Moscow (City)',
  343,
  '23616',
  '262076994845',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (51,
  '686 Garland Manor',
  '',
  'Cear',
  247,
  '52535',
  '69493378813',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (52,
  '909 Garland Manor',
  '',
  'Tatarstan',
  367,
  '69367',
  '705800322606',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (53,
  '725 Isesaki Place',
  '',
  'Mekka',
  237,
  '74428',
  '876295323994',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (54,
  '115 Hidalgo Parkway',
  '',
  'Khartum',
  379,
  '80168',
  '307703950263',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (55,
  '1135 Izumisano Parkway',
  '',
  'California',
  171,
  '48150',
  '171822533480',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (56,
  '939 Probolinggo Loop',
  '',
  'Galicia',
  1,
  '4166',
  '680428310138',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (57,
  '17 Kabul Boulevard',
  '',
  'Chiba',
  355,
  '38594',
  '697760867968',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (58,
  '1964 Allappuzha (Alleppey) Street',
  '',
  'Yamaguchi',
  227,
  '48980',
  '920811325222',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (59,
  '1697 Kowloon and New Kowloon Loop',
  '',
  'Moskova',
  49,
  '57807',
  '499352017190',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (60,
  '1668 Saint Louis Place',
  '',
  'Tahiti',
  397,
  '39072',
  '347487831378',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (61,
  '943 Tokat Street',
  '',
  'Vaduz',
  560,
  '45428',
  '889318963672',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (62,
  '1114 Liepaja Street',
  '',
  'Sarawak',
  282,
  '69226',
  '212869228936',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (63,
  '1213 Ranchi Parkway',
  '',
  'Karnataka',
  350,
  '94352',
  '800024380485',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (64,
  '81 Hodeida Way',
  '',
  'Rajasthan',
  231,
  '55561',
  '250767749542',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (65,
  '915 Ponce Place',
  '',
  'Basel-Stadt',
  56,
  '83980',
  '1395251317',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (66,
  '1717 Guadalajara Lane',
  '',
  'Missouri',
  441,
  '85505',
  '914090181665',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (67,
  '1214 Hanoi Way',
  '',
  'Nebraska',
  306,
  '67055',
  '491001136577',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (68,
  '1966 Amroha Avenue',
  '',
  'Sichuan',
  139,
  '70385',
  '333489324603',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (69,
  '698 Otsu Street',
  '',
  'Cayenne',
  105,
  '71110',
  '409983924481',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (70,
  '1150 Kimchon Manor',
  '',
  'Skne ln',
  321,
  '96109',
  '663449333709',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (71,
  '1586 Guaruj Place',
  '',
  'Hunan',
  579,
  '5135',
  '947233365992',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (72,
  '57 Arlington Manor',
  '',
  'Madhya Pradesh',
  475,
  '48960',
  '990214419142',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (73,
  '1031 Daugavpils Parkway',
  '',
  'Bchar',
  63,
  '59025',
  '107137400143',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (74,
  '1124 Buenaventura Drive',
  '',
  'Mekka',
  13,
  '6856',
  '407733804223',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (75,
  '492 Cam Ranh Street',
  '',
  'Eastern Visayas',
  61,
  '50805',
  '565018274456',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (76,
  '89 Allappuzha (Alleppey) Manor',
  '',
  'National Capital Reg',
  517,
  '75444',
  '255800440636',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (77,
  '1947 Poos de Caldas Boulevard',
  '',
  'Chiayi',
  114,
  '60951',
  '427454485876',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (78,
  '1206 Dos Quebradas Place',
  '',
  'So Paulo',
  431,
  '20207',
  '241832790687',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (79,
  '1551 Rampur Lane',
  '',
  'Changhwa',
  108,
  '72394',
  '251164340471',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (80,
  '602 Paarl Street',
  '',
  'Pavlodar',
  402,
  '98889',
  '896314772871',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (81,
  '1692 Ede Loop',
  '',
  'So Paulo',
  30,
  '9223',
  '918711376618',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (82,
  '936 Salzburg Lane',
  '',
  'Uttar Pradesh',
  425,
  '96709',
  '875756771675',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (83,
  '586 Tete Way',
  '',
  'Kanagawa',
  256,
  '1079',
  '18581624103',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (84,
  '1888 Kabul Drive',
  '',
  'Oyo & Osun',
  217,
  '20936',
  '701457319790',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (85,
  '320 Baiyin Parkway',
  '',
  'Mahajanga',
  319,
  '37307',
  '223664661973',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (86,
  '927 Baha Blanca Parkway',
  '',
  'Krim',
  479,
  '9495',
  '821972242086',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (87,
  '929 Tallahassee Loop',
  '',
  'Gauteng',
  497,
  '74671',
  '800716535041',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (88,
  '125 Citt del Vaticano Boulevard',
  '',
  'Puebla',
  40,
  '67912',
  '48417642933',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (89,
  '1557 Ktahya Boulevard',
  '',
  'England',
  88,
  '88002',
  '720998247660',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (90,
  '870 Ashqelon Loop',
  '',
  'Songkhla',
  489,
  '84931',
  '135117278909',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (91,
  '1740 Portoviejo Avenue',
  '',
  'Sucre',
  480,
  '29932',
  '198123170793',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (92,
  '1942 Ciparay Parkway',
  '',
  'Cheju',
  113,
  '82624',
  '978987363654',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (93,
  '1926 El Alto Avenue',
  '',
  'Buenos Aires',
  289,
  '75543',
  '846225459260',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (94,
  '1952 Chatsworth Drive',
  '',
  'Guangdong',
  332,
  '25958',
  '991562402283',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (95,
  '1370 Le Mans Avenue',
  '',
  'Brunei and Muara',
  53,
  '52163',
  '345679835036',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (96,
  '984 Effon-Alaiye Avenue',
  '',
  'Gois',
  183,
  '17119',
  '132986892228',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (97,
  '832 Nakhon Sawan Manor',
  '',
  'Inner Mongolia',
  592,
  '49021',
  '275595571388',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (98,
  '152 Kitwe Parkway',
  '',
  'Caraga',
  82,
  '53182',
  '835433605312',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (99,
  '1697 Tanauan Lane',
  '',
  'Punjab',
  399,
  '22870',
  '4764773857',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (100,
  '1308 Arecibo Way',
  '',
  'Georgia',
  41,
  '30695',
  '6171054059',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (101,
  '1599 Plock Drive',
  '',
  'Tete',
  534,
  '71986',
  '817248913162',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (102,
  '669 Firozabad Loop',
  '',
  'Abu Dhabi',
  12,
  '92265',
  '412903167998',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (103,
  '588 Vila Velha Manor',
  '',
  'Kyongsangbuk',
  268,
  '51540',
  '333339908719',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (104,
  '1913 Kamakura Place',
  '',
  'Lipetsk',
  238,
  '97287',
  '942570536750',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (105,
  '733 Mandaluyong Place',
  '',
  'Asir',
  2,
  '77459',
  '196568435814',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (106,
  '659 Vaduz Drive',
  '',
  'Ha Darom',
  34,
  '49708',
  '709935135487',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (107,
  '1177 Jelets Way',
  '',
  'Kwara & Kogi',
  220,
  '3305',
  '484292626944',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (108,
  '1386 Yangor Avenue',
  '',
  'Provence-Alpes-Cte',
  543,
  '80720',
  '449216226468',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (109,
  '454 Nakhon Sawan Boulevard',
  '',
  'Funafuti',
  173,
  '76383',
  '963887147572',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (110,
  '1867 San Juan Bautista Tuxtepec Avenue',
  '',
  'Ivanovo',
  225,
  '78311',
  '547003310357',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (111,
  '1532 Dzerzinsk Way',
  '',
  'Buenos Aires',
  334,
  '9599',
  '330838016880',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (112,
  '1002 Ahmadnagar Manor',
  '',
  'Mxico',
  213,
  '93026',
  '371490777743',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (113,
  '682 Junan Way',
  '',
  'North West',
  273,
  '30418',
  '622255216127',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (114,
  '804 Elista Drive',
  '',
  'Hubei',
  159,
  '61069',
  '379804592943',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (115,
  '1378 Alvorada Avenue',
  '',
  'Distrito Federal',
  102,
  '75834',
  '272234298332',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (116,
  '793 Cam Ranh Avenue',
  '',
  'California',
  292,
  '87057',
  '824370924746',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (117,
  '1079 Tel Aviv-Jaffa Boulevard',
  '',
  'Sucre',
  132,
  '10885',
  '358178933857',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (118,
  '442 Rae Bareli Place',
  '',
  'Nordrhein-Westfalen',
  148,
  '24321',
  '886636413768',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (119,
  '1107 Nakhon Sawan Avenue',
  '',
  'Mxico',
  365,
  '75149',
  '867546627903',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (120,
  '544 Malm Parkway',
  '',
  'Central Java',
  403,
  '63502',
  '386759646229',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (121,
  '1967 Sincelejo Place',
  '',
  'Gujarat',
  176,
  '73644',
  '577812616052',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (122,
  '333 Goinia Way',
  '',
  'Texas',
  185,
  '78625',
  '909029256431',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (123,
  '1987 Coacalco de Berriozbal Loop',
  '',
  'al-Qalyubiya',
  476,
  '96065',
  '787654415858',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (124,
  '241 Mosul Lane',
  '',
  'Risaralda',
  147,
  '76157',
  '765345144779',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (125,
  '211 Chiayi Drive',
  '',
  'Uttar Pradesh',
  164,
  '58186',
  '665993880048',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (126,
  '1175 Tanauan Way',
  '',
  'Lima',
  305,
  '64615',
  '937222955822',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (127,
  '117 Boa Vista Way',
  '',
  'Uttar Pradesh',
  566,
  '6804',
  '677976133614',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (128,
  '848 Tafuna Manor',
  '',
  'Ktahya',
  281,
  '45142',
  '614935229095',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (129,
  '569 Baicheng Lane',
  '',
  'Gauteng',
  85,
  '60304',
  '490211944645',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (130,
  '1666 Qomsheh Drive',
  '',
  'So Paulo',
  410,
  '66255',
  '582835362905',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (131,
  '801 Hagonoy Drive',
  '',
  'Smolensk',
  484,
  '8439',
  '237426099212',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (132,
  '1050 Garden Grove Avenue',
  '',
  'Slaskie',
  236,
  '4999',
  '973047364353',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (133,
  '1854 Tieli Street',
  '',
  'Shandong',
  302,
  '15819',
  '509492324775',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (134,
  '758 Junan Lane',
  '',
  'Gois',
  190,
  '82639',
  '935448624185',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (135,
  '1752 So Leopoldo Parkway',
  '',
  'Taka-Karpatia',
  345,
  '14014',
  '252265130067',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (136,
  '898 Belm Manor',
  '',
  'Free State',
  87,
  '49757',
  '707169393853',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (137,
  '261 Saint Louis Way',
  '',
  'Coahuila de Zaragoza',
  541,
  '83401',
  '321944036800',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (138,
  '765 Southampton Drive',
  '',
  'al-Qalyubiya',
  421,
  '4285',
  '23712411567',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (139,
  '943 Johannesburg Avenue',
  '',
  'Maharashtra',
  417,
  '5892',
  '90921003005',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (140,
  '788 Atinsk Street',
  '',
  'Karnataka',
  211,
  '81691',
  '146497509724',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (141,
  '1749 Daxian Place',
  '',
  'Gelderland',
  29,
  '11044',
  '963369996279',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (142,
  '1587 Sullana Lane',
  '',
  'Inner Mongolia',
  207,
  '85769',
  '468060467018',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (143,
  '1029 Dzerzinsk Manor',
  '',
  'Ynlin',
  542,
  '57519',
  '33173584456',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (144,
  '1666 Beni-Mellal Place',
  '',
  'Tennessee',
  123,
  '13377',
  '9099941466',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (145,
  '928 Jaffna Loop',
  '',
  'Hiroshima',
  172,
  '93762',
  '581852137991',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (146,
  '483 Ljubertsy Parkway',
  '',
  'Scotland',
  149,
  '60562',
  '581174211853',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (147,
  '374 Bat Yam Boulevard',
  '',
  'Kilis',
  266,
  '97700',
  '923261616249',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (148,
  '1027 Songkhla Manor',
  '',
  'Minsk',
  340,
  '30861',
  '563660187896',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (149,
  '999 Sanaa Loop',
  '',
  'Gauteng',
  491,
  '3439',
  '918032330119',
  datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (150,
  '879 Newcastle Way',
  '',
  'Michigan',
  499,
  '90732',
  '206841104594',

In [34]:
type(cur)

psycopg2.extensions.cursor

In [37]:
conn

In [17]:
queries = {
    'read': {
        'ksat_sent':
            "SELECT * FROM ksat_sent",
        'actor':
            "SELECT * FROM actor"
    }
}
#쿼리문을 딕셔너리 스타일로 넣어서 반복문으로 돌려줌

In [54]:
queries['read']['ksat_sent']
# 태그를 걸어서 쿼리문이 잘 나오는 것을 볼 수 있음

'SELECT * FROM ksat_sent'

In [14]:
queries['read']['actor']

'SELECT * FROM actor'

In [55]:
batch_month = '201001'
print(f"SELECT * FROM table_name WHERE col_name = {batch_month}")
# 포맷팅을 걸어서 조건문으로 꺼낼 수 있음

SELECT * FROM table_name WHERE col_name = 201001

In [56]:
db2 = DBConnector2(host=HOST, port=PORT, user=USER, password=PASSWORD, database=DATABASE)
cur = db2._postgre_connect().cursor()
cur.execute(queries['read']['ksat_sent'])

result_all = cur.fetchall()

result_all
# 타자 잘못쳐서 난 오류

None
<connection object at 0x000001849EF79480; dsn: 'user=postgres password=xxx dbname=dvdrental host=127.0.0.1 port=5432', closed: 0>

AttributeError: 'NoneType' object has no attribute 'cursor'

In [49]:
type(db2)

__main__.DBConnector2

In [9]:
class DBConnector:
    def __init__(self, host, port, database, user, password):
        # self.dialect = dbms.lower()
        self.host = host
        self.port = port
        self.database = database
        self.user = user
        self.passwd = password
        # self.conn = None

    def _postgre_connect(self):
        conn = postgre.connect(host=self.host, port=self.port, database=self.database, user=self.user, password=self.passwd)
        return conn

    def close(self):
        self.conn.close()
# 최종 클래스

In [12]:
db = DBConnector(host=HOST, port=PORT, database=DATABASE, user=USER, password=PASSWORD)
cur = db._postgre_connect().cursor()
cur.execute(queries['read']['ksat_sent'])

result_all = cur.fetchall()

result_all[:1]
# 다른 sql table도 꺼내봄

[(1, 'ahah haha', 2052, 'n/a', '0.1')]

In [16]:
db = DBConnector(host=HOST, port=PORT, database=DATABASE, user=USER, password=PASSWORD)
cur = db._postgre_connect().cursor()

for table_name, query in queries['read'].items():
    print(table_name)
    cur.execute(query)
    print(query)

    result_all = cur.fetchall()
    print(result_all[:1])




# cur.execute(queries['read']['ksat_sent'])

# result_all = cur.fetchall()

# result_all[:1]

# 다양한 테이블을 쿼리구문에 넣어서 한번에 꺼낼 수 있음

ksat_sent
SELECT * FROM ksat_sent
[(1, 'ahah haha', 2052, 'n/a', '0.1')]
actor
SELECT * FROM actor
[(1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]

In [36]:
DB_SETTINGS = {
    'localhost_postgre_query' : {
        # 'location' : 'localhost',
        # 'engine' : 'postgre',
        'host' : "127.0.0.1",
        'port' : "5432",
        'user' : "postgres",
        'password' : "0328",
        'database' : "dvdrental"
    }
}
# 제대로 된 세팅문

In [47]:
batch_month = '201305'
queries3 = {
    'read': {
        'actor': f'''
            SELECT '{batch_month}' AS YYYYMM, *
            FROM actor
            WHERE TO_CHAR(CAST(last_update AS DATE), 'YYYYMM') = '{batch_month}'
        ''',
        'film': f'''
            SELECT '{batch_month}' AS YYYYMM, *
            FROM film 
            WHERE TO_CHAR(CAST(last_update AS DATE), 'YYYYMM') = '{batch_month}'
        '''
    }

}
# 날짜를 걸어서 select에 넣으면 그 값만 보여주고
# where 절에 넣으면 그 값에 해당된 데이터 전체를 보여줌(select *)

In [48]:
db = DBConnector(**DB_SETTINGS['localhost_postgre_query'])
# type(db._postgre_connect())

cur = db._postgre_connect().cursor()
for table_name, query in queries3['read'].items():
    print(table_name)
    cur.execute(query)
    # print(query)

    result_all = cur.fetchall()
    print(result_all[:1])

# cur.execute(queries2['read']['actor'])
#result_all = cur.fetchall()
# result_all[:1]

# 제대로 된 db_settings를 넣어서 또 해봄
# 위에 있는 queries3 넣어서 또 해봄

actor
[('201305', 1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]
film
[('201305', 133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5")]

In [ ]:
batch_month = '201305'
queries = {
    'read': {
        'actor': f'''
            SELECT * 
            FROM actor 
            WHERE TO_CHAR(CAST(last_update AS DATE), 'YYYYMM') = '{batch_month}'
            ;
        ''',
        'film': f'''
            SELECT * 
            FROM film 
            WHERE TO_CHAR(CAST(last_update AS DATE), 'YYYYMM') = '{batch_month}'
            ;
        '''},
    'insert': {
        'actor': '''
            INSERT INTO ~~~
        ''',
        'film': '''
            INSERT INTO ~~~
        '''},
    }

# insert 문을 넣어서 데이터를 꺼내서 넣는 것도 조작해 볼 수 있음

In [39]:
batch_month = '201305'
queries2 = {
    'read': {
        'actor_replicate': f'''
            SELECT '{batch_month}' AS YYYYMM 
            FROM actor_replicate 
            WHERE TO_CHAR(CAST(last_update AS DATE), 'YYYYMM') = '{batch_month}'
        ''',
        'actor': f'''
            SELECT *
            FROM actor 
            WHERE TO_CHAR(CAST(last_update AS DATE), 'YYYYMM') = '{batch_month}'
        '''
    }

}
print(queries2['read']['actor'])
# print로 한번 찍어보기

            SELECT *
            FROM actor
            WHERE TO_CHAR(CAST(last_update AS DATE), 'YYYYMM') = '201305'

In [35]:
db = DBConnector(host=HOST, port=PORT, database=DATABASE, user=USER, password=PASSWORD)
cur = db._postgre_connect().cursor()

for table_name, query in queries2['read'].items():
    print(table_name)
    cur.execute(query)

    result_all = cur.fetchall()
    print(result_all)




# cur.execute(queries2['read']['actor'])

# result_all = cur.fetchall()

# result_all[:1]

actor_replicate
[('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',), ('201305',)]
actor